<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" id="container">
		<div class="form-container log-in-container">
			<form action="../Menu/index.html"  >
				<h1 id="titulo">Cadastrar</h1>
				<div class="grid">
					<div><input type="text" placeholder="Nome" required/></div>
					<div><input type="date" name="Data" required/></div>
					<div><input type="text" placeholder="Telefone" required maxlength="9"/></div>
					<div><input type="text" placeholder="CPF" required maxlength="11"/></div>
					<div><input type="text" placeholder="CEP" required maxlength="8"/></div>
					<div><input type="text" placeholder="Telefone De Seguranca" required maxlength="9"/></div>
					<div><input type="text" placeholder="Deficiencia" required maxlength="90"/></div>
					<div><input type="text" placeholder="Alergia"required maxlength="90"/></div>
					<div><input type="email" placeholder="Email"required maxlength="90"/></div>
					<div><input type="password" placeholder="Senha"required maxlength="90"/></div>
					<div><select id=sangue>
						<option placeholder="Selecione seu tipo de sanguinio" >Tipo de sanguinio</option>
						<option>A+</option>
						<option>A-</option>
						<option>B+</option>
						<option>B-</option>
						<option>O+</option>
						<option>O-</option>
						<option>AB+</option>
						<option>AB-</option>
					</select></div>
					<div><label>pcd</label>
						<input type="checkbox" placeholder="pcd" required/></div>
				 </div>
	
                <button type="submit" name="btn" value="Acessar">Enviar</button>
                      
			</form>
           
		</div>
		
		</div>

</ion-content>
