<ion-header>
  <ion-toolbar color="danger">
    <ion-title >Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="text">
    <h1>Bem vindo ao FireHelpCenter!</h1>
 </div>

 <section class="about section" id="about">
  <div class="container">
      <div class="row">
          <div class="section__title">
              <h1>Nossa história</h1>
               <br>
          </div>
          <div class="about__detail">
              <div class="about__detail__content">
                  <div class="about__img">
                      <img src="../../../assets/img/flames.png" alt="" width="100px" >
                  </div>
                  <div class="about__descripion">
                      <p>Bem vindo
                          O FireCenterHelp é um aplicativo criado especificamente para Urgencias</p>
                      <p>Nosso aplicativo  foi desenvolvido para melhorar e acelerar o resgate de pessoas em situações de urgencias.</p>
                      <p>Sejam bem vindos!</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</ion-content>
