#text{
	text-align: center;
	margin-top: 4%;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');
/*---------------VARIABLES CSS-------------------*/

/* base */

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.section__title{
   
    text-align: center;
	margin: 10px;
}
.section__title h1{
    
    font-size: var(--big-font-size);
   
   
    
}

/* ABOUT */

.about__detail{
    width: 100%;
    padding: 40px;
}
.about__detail__content{
    
   
    padding: 5px;
}
.about__img img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.25));
}
.about__descripion{
    position: relative;
  padding: -10px;
}
.about__descripion::before{
    content: "";
    position: absolute;
    width: 190px;
    height: 156%;
    top: -40%;
    left: 0;
	margin: -12px;
    background: var(--main-color);
    border-radius: 30px;
    box-shadow:  4px 8px 16px rgba(0,0,0,0.25);
    z-index: var(--z_negative);
}
.about__descripion p{
    font-weight: var(--font-medium);
    line-height: calc(var(--normal-font-size) + 12px);
    color: var(--black-color);
}


/* MEDIA QUERY */
@media (min-width: 860px){
    .about__detail__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        z-index: var(--z-tooltip);
 
	}
}

@media (min-width: 1100px){
    .about__descripion::before{
        height: 150%;
        top: -25%;
    }
}